version: "3.8"

services:
  loki:
    image: grafana/loki:3.6.2
    container_name: loki
    volumes:
      - ./config:/etc/loki/
      - ./loki:/loki
    ports:
      - "30002:3100"
      - "30003:7946"
    command: "-config.file=/etc/loki/loki-config.yaml -target=all"
    networks:
      - loki
    restart: always
    #healthcheck:
    #  test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1" ]
    #  interval: 30s
    #  timeout: 5s
    #  retries: 10
    #  start_period: 5m
    labels:
      - "diun.enable=true"

networks:
  loki:
