archived_containers
@eaDir

diun/data/diun.db

fail2ban/config/log
fail2ban/config/fail2ban/**

hass/config/secrets.yaml
hass/config/.storage/**
hass/config/home-assistant.log*
hass/config/home-assistant_v2.db*
hass/config/nexia_config_*
hass/config/.HA_VERSION
hass/config/.s6-svscan/
hass/config/blueprints/**
hass/config/html5_push_registrations.conf
hass/config/tts
hass/config/custom_components/
hass/config/hacs.sh
hass/config/deps/event/
hass/config/curl_response
hass/config/deps/
hass/eufy

immich/library/
immich/postgres/

loki/loki/**

minio/data/**
minio/secret*

ntfy/cache

grafana/grafana_data/**
grafana/pg_data/**

prometheus/archive
prometheus/grafana_data/**
prometheus/prometheus_data/**
prometheus/tempo-data/**
prometheus/images/**

prometheus/config.my-cnf
prometheus/generator.yaml
prometheus/hass_token.txt
prometheus/hass_token_2.txt
prometheus/minio_token.txt
prometheus/email_token.txt
prometheus/discord_webhook.txt

prometheus/grafana_old.ini

fail2ban.sqlite3
*.env

!.gitkeep
!*custom.conf
