archived_containers
@eaDir

fail2ban/config/log
fail2ban/config/fail2ban/**

hass/config/secrets.yaml
hass/config/.ha_run.lock
hass/config/.storage/**
hass/config/home-assistant.log*
hass/config/home-assistant_v2.db*
hass/config/nexia_config_*
hass/config/.HA_VERSION
hass/config/.s6-svscan/
hass/config/.cache/
hass/config/blueprints/**
hass/config/html5_push_registrations.conf
hass/config/tts
hass/config/custom_components/
hass/config/hacs.sh
hass/config/deps/event/
hass/config/curl_response
hass/config/deps/
hass/eufy

immich/library/
immich/postgres/

minio/data/**
minio/secret*

surmai/surmai_data/**

fail2ban.sqlite3
*.env

wealthfolio/data/**

!.gitkeep
!*custom.conf
