services:
  hass:
    container_name: home_assistant
    image: "ghcr.io/home-assistant/home-assistant:2025.11.3@sha256:f971850a6ec1fb5c5fd4e1748058e9e1f589aaf0da933b8d88bb5dee03f5b5e8"
    volumes:
      - /volume1/docker/hass/config:/config
      #- /usr/share/zoneinfo/America/Chicago:/etc/localtime:ro
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: always
    network_mode: host
    healthcheck:
      test: ["CMD-SHELL", "curl -s -m 10 localhost:8123 || exit 1"]
      interval: 1m
      timeout: 10s
      retries: 10
      start_period: 1m
  #eufy_security:
  #  container_name: eufy
  #  image: "bropat/eufy-security-ws:1.9.1@sha256:413e80b7536520b14a57ada1509d4c42ab618b81376bd481125008690e1dd596"
  #  volumes:
  #    - /volume1/docker/hass/eufy:/data
  #  env_file: .eufy.env
  #  environment:
  #    PORT: "32000"
  #  restart: unless-stopped
  #  network_mode: host
  #  ports:
  #    - 32000
