services:
  hass:
    container_name: home_assistant
    image: "ghcr.io/home-assistant/home-assistant:2025.11.0@sha256:8949aa75a417c0a71208255c999bfb3eea3e909ff2eab4ac4ca26a2cbd886f05"
    volumes:
      - /volume1/docker/hass/config:/config
      #- /usr/share/zoneinfo/America/Chicago:/etc/localtime:ro
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: always
    network_mode: host
    healthcheck:
      test: ["CMD-SHELL", "curl -s -m 10 localhost:8123 || exit 1"]
      interval: 1m
      timeout: 10s
      retries: 10
      start_period: 1m
  #eufy_security:
  #  container_name: eufy
  #  image: "bropat/eufy-security-ws:1.9.1@sha256:413e80b7536520b14a57ada1509d4c42ab618b81376bd481125008690e1dd596"
  #  volumes:
  #    - /volume1/docker/hass/eufy:/data
  #  env_file: .eufy.env
  #  environment:
  #    PORT: "32000"
  #  restart: unless-stopped
  #  network_mode: host
  #  ports:
  #    - 32000
