version: '3.8'

services:
  nginx:
    container_name: mimir-lb
    image: nginxinc/nginx-unprivileged:alpine@sha256:9bf2484108733e4c1c72280f83ba30d772d291d44049403bd6d592f216137771
    volumes:
      - /volume1/docker/mimir/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 30909:9009
    restart: always


  mimir-1: &mimirConf
    container_name: mimir-1
    hostname: mimir-1
    image: grafana/mimir:3.0.1@sha256:5f4667c9b7164a376bd555a56b5a7074535303e1924192a267bad7f0b72893f7
    working_dir: /data/mimir
    command: 
      - -config.file=/etc/mimir.yaml
      - -config.expand-env=true
    env_file:
      - /volume1/docker/mimir/.env
    volumes:
      - &config
        /volume1/docker/mimir/config.yaml:/etc/mimir.yaml:ro
      - &runtime
        /volume1/docker/mimir/runtime.yaml:/etc/runtime.yaml:ro
      - &amConf
        /volume1/docker/mimir/alertmanager.yaml:/etc/alertmanager/alertmanager.yaml:ro
      - &amMixins
        /volume1/docker/mimir/mixins:/etc/alertmanager/mixins:ro
      - &amEmail
        /volume1/docker/mimir/email_token.txt:/var/run/secrets/email_token.txt:ro
      - &amDiscord
        /volume1/docker/mimir/discord_webhook.txt:/var/run/secrets/discord_webhook.txt:ro
      - mimir-data-1:/data/mimir
    restart: always

  mimir-2:
    <<: *mimirConf
    container_name: mimir-2
    hostname: mimir-2
    volumes:
      - *config
      - *runtime
      - *amConf
      - *amEmail
      - *amDiscord
      - mimir-data-2:/data/mimir
  
  mimir-3:
    <<: *mimirConf
    container_name: mimir-3
    hostname: mimir-3
    volumes:
      - *config
      - *runtime
      - *amConf
      - *amEmail
      - *amDiscord
      - mimir-data-3:/data/mimir

volumes:
  mimir-data-1:
  mimir-data-2:
  mimir-data-3:
