version: '3.8'

services:
  nginx:
    container_name: mimir-lb
    image: nginxinc/nginx-unprivileged:alpine@sha256:094aa5b178bb09e30761325e37ff053aa4382e1e372a2a5dcd73b24170483b70
    volumes:
      - /volume1/docker/mimir/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - mimir-1
      - mimir-2
      - mimir-3
    ports:
      - 30909:9009


  mimir-1: &mimirConf
    container_name: mimir-1
    hostname: mimir-1
    image: grafana/mimir:2.17.0@sha256:614146229384e3dd3367d98cbd9ddc195dffe13fdfb88d77520148f09735fa8f
    working_dir: /data/mimir
    command: 
      - -config.file=/etc/mimir.yaml
      - -config.expand-env=true
    env_file:
      - /volume1/docker/mimir/.env
    volumes:
      - &config
        /volume1/docker/mimir/config.yaml:/etc/mimir.yaml:ro
      - &runtime
        /volume1/docker/mimir/runtime.yaml:/etc/runtime.yaml:ro
      - &amConf
        /volume1/docker/mimir/alertmanager.yaml:/etc/alertmanager/alertmanager.yaml:ro
      - &amMixins
        /volume1/docker/mimir/mixins:/etc/alertmanager/mixins:ro
      - &amEmail
        /volume1/docker/mimir/email_token.txt:/var/run/secrets/email_token.txt:ro
      - &amDiscord
        /volume1/docker/mimir/discord_webhook.txt:/var/run/secrets/discord_webhook.txt:ro
      - mimir-data-1:/data/mimir
    restart: unless-stopped

  mimir-2:
    <<: *mimirConf
    container_name: mimir-2
    hostname: mimir-2
    volumes:
      - *config
      - *runtime
      - *amConf
      - *amEmail
      - *amDiscord
      - mimir-data-2:/data/mimir
  
  mimir-3:
    <<: *mimirConf
    container_name: mimir-3
    hostname: mimir-3
    volumes:
      - *config
      - *runtime
      - *amConf
      - *amEmail
      - *amDiscord
      - mimir-data-3:/data/mimir

volumes:
  mimir-data-1:
  mimir-data-2:
  mimir-data-3:
