services:
  minio:
    ports:
      - '30900:9000'
      - '30901:9001'
    volumes:
      - ./data:/mnt/data
      - ./config.txt:/etc/minio/config.env:ro
      - ./secret_root_user.txt:/var/run/secrets/root_user.txt:ro
      - ./secret_root_password.txt:/var/run/secrets/root_password.txt:ro
    environment:
      MINIO_CONFIG_ENV_FILE: /etc/minio/config.env
      MINIO_ROOT_USER_FILE: /var/run/secrets/root_user.txt
      MINIO_ROOT_PASSWORD_FILE: /var/run/secrets/root_password.txt
    container_name: minio
    image: quay.io/minio/minio:RELEASE.2025-04-22T22-12-26Z@sha256:a1ea29fa28355559ef137d71fc570e508a214ec84ff8083e39bc5428980b015e
    command: minio server --console-address :9001
    user: "1032:100"
    networks:
      - minio
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "curl -s -i localhost:9000/minio/health/live; test $(curl -s -w '%{response_code}\n' localhost:9000/minio/health/live) -eq '200'"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 2m
    
networks:
  minio:
