services:
  autoheal:
    container_name: autoheal
    image: willfarrell/autoheal:latest@sha256:a7f9ae171b9363d14dc5dbee707eb7d4c40bbe5d7f45ede33a3f35b39499670e
    environment:
      AUTOHEAL_CONTAINER_LABEL: all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    restart: always
    network_mode: none
