services:
  autoheal:
    container_name: autoheal
    image: willfarrell/autoheal:latest@sha256:636cc8336890e87180689faaae2839f43e55fb1c6616de73f02cbc1319baaaec
    environment:
      AUTOHEAL_CONTAINER_LABEL: all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    restart: always
    network_mode: none
