services:
  autoheal:
    container_name: autoheal
    image: willfarrell/autoheal:latest@sha256:431ecf92451ee1985b55bf4b3738d580a48f824afc1be5637e943a36c1a2054b
    environment:
      AUTOHEAL_CONTAINER_LABEL: all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    restart: always
    network_mode: none
