services:
  autoheal:
    container_name: autoheal
    image: willfarrell/autoheal:latest@sha256:416b45f3ba944978055eb7d982727fbc9aba22f590cb85b4b61b57c60d0036df
    environment:
      AUTOHEAL_CONTAINER_LABEL: all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    restart: always
    network_mode: none
