services:
  autoheal:
    container_name: autoheal
    image: willfarrell/autoheal:latest@sha256:d26f80b5994157c11b57977e551eb546d29be6efb0109440d21b1ed7224da11e
    environment:
      AUTOHEAL_CONTAINER_LABEL: all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    restart: always
    network_mode: none
