services:
  autoheal:
    container_name: autoheal
    image: willfarrell/autoheal:latest@sha256:26305ea944eac492854294c5d0d8ca347ebef5b5a5599584a8f2cb85d52a80cf
    environment:
      AUTOHEAL_CONTAINER_LABEL: all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    restart: always
    network_mode: none
