services:
  autoheal:
    container_name: autoheal
    image: willfarrell/autoheal:latest@sha256:03f6fe8a887471746244377d4f007417dc5a9f4d7a6f1a6308673608e9371ad6
    environment:
      AUTOHEAL_CONTAINER_LABEL: all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    restart: always
    network_mode: none
