services:
  autoheal:
    container_name: autoheal
    image: willfarrell/autoheal:latest@sha256:3a37bafb12c1a004c50d3780836b2ea6c2f14f131730d0bfc7c8c92acd9915e1
    environment:
      AUTOHEAL_CONTAINER_LABEL: all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    restart: always
    network_mode: none
