services:
  autoheal:
    container_name: autoheal
    image: willfarrell/autoheal:latest@sha256:8e4165deae9ad8f31f3185e497be61561e8cab653d54113374c7937699a85921
    environment:
      AUTOHEAL_CONTAINER_LABEL: all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    restart: always
    network_mode: none
