services:
  autoheal:
    container_name: autoheal
    image: willfarrell/autoheal:latest@sha256:ced670b0693bb415f9f876311cf3acbbc709d8934f6da18807288e3c504801dd
    environment:
      AUTOHEAL_CONTAINER_LABEL: all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    restart: always
    network_mode: none
