services:
  autoheal:
    container_name: autoheal
    image: willfarrell/autoheal:latest@sha256:ba79c692cbf1d59044e915f96c49f401e8c83a39e116d7064598596532726fd0
    environment:
      AUTOHEAL_CONTAINER_LABEL: all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    restart: always
    network_mode: none
